.jqplot-point-label {white-space: nowrap;}
.jqplot-yaxis-label {font-size: 14pt;}
.jqplot-yaxis-tick {font-size: 7pt;}

div.jqplot-target {
    height: 500px;
    width: 800px;
    margin:0;
}

tr {
    padding-top:10px;
}
td {
    padding-right:10px;
}
thead td {
    font-weight:bold;
    font-size:12pt;
}
.xsdDate .xfValue {
    padding-top:0.1em;
    padding-left:0.1em;
}
.xsdDate .dijitArrowButton {
    height:1.2em;
}
.bf .xsdBoolean .xfValue, .bf .bfCheckBoxGroup .xfValue {
    background-color: transparent;
    height: 1.2em;
    width: 1.2em;
}                       
.devider {
    clear: both;margin-top: 3px;padding: 0;position: relative;top: 0;width: 100%;
}   
.year select{
    width:80px;
}
.results {
    padding-top: 10px;          
}

.container {
    
}

header {
    text-align: center;
}

body {
    background: #FFFFFF;
}

aside {
    padding-top: 30px;
    vertical-align: top;
}

.sectionTitle {
    vertical-align: top;
    font-size:12pt;
    font-weight: bold;
}

footer {
    font-size: 8pt;
    vertical-align: bottom;
    text-align: center;
}

#logo {
    text-align: center;
}

#search-box {
    text-align:center;
}
#term-value {
    width: 95%;
    font-size:16pt;
    font-weight: bold;
}

#search-controls {
    white-space: pre;
    text-align:center;
    vertical-align: top;
    padding-bottom: 30px;
}

#search-options {
    padding: 5px;
}