/* Application styles could go here */
#main {
    font: 16px/24px Georgia, "Times New Roman", Times, serif;
    min-height: 768px;
}

nav.top {
    margin: 0 0 2em 0;
    padding: 0 0 1em 0;
    border-bottom: 2px solid #CCC;
}

nav.bottom {
    margin: 2em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 2px solid #CCC;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav li.previous {
    float: left;
}

nav li.next {
    float: right;
}

nav h5 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: normal;
}