<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-responsive.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <section class="span10">
                    <article>
                        <header>
                            <ul class="nav nav-pills" style="float:left;position:absolute;">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="active">
                                    <a href="quicksearch.html">Quick-Search</a>
                                </li>
                                <li class="active">
                                    <a href="xfSearch.html">xfSearch</a>
                                </li>
                            </ul>
                            <img id="logo" src="resources/images/LawHoo.png" alt="LawHoo Logo"/>
                            <div style="font-size:1.2em;color: #999999;;">~ searching the law since 2013 ~</div>
                        </header>
                        <div class="container" id="main">
                            <div class="row" id="container-body">
                                <!-- Page content will be injected into the div below -->
                                <div class="span8" id="content"/>
                                <!-- Right hand column: 4 wide -->
                                <div class="span4">
                                    <h2>Application Info</h2>
                                    <div class="config:app-info"/>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
                <aside class="span2">
                    <div class="sectionTitle">
                        Contact us (TBD: stylen und anpassen sonst raus!)
                    </div>
                    <div id="wm">
                        <div>Wolfgang Meier</div>
                        <div>@wolfgangmm</div>
                        <div>wolfgang@existsolutions.com</div>
                    </div>
                    <div id="lw">
                        <strong>Lars Windauer</strong>
                        <div>@windauer</div>
                        <div>lars@betterform.de</div>
                    </div>
                </aside>
            </div>
        </div>
        <footer class="row">
            <hr class="devider"/>
            <p>Whatever 2013 bfExSol</p>
            <p>Copyright eXist-db Project 2012 ??</p>
        </footer>
    </body>
</html>