<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-responsive.css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <section class="span10">
                    <article>
                        <header>
                            <ul class="nav nav-pills" style="float:left;position:absolute;">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="quicksearch.html">Quick-Search</a>
                                </li>
                                <li>
                                    <a href="xfSearch.html">xfSearch</a>
                                </li>
                            </ul>
                            <img id="logo" src="resources/images/LawHoo.png" alt="LawHoo Logo"/>
                            <div style="font-size:1.2em;color: #999999;;">~ searching the law since 2013 ~</div>
                        </header>
                        <div class="container" id="main">
                            <div class="row" id="container-body">
                                <!-- Page content will be injected into the div below -->
                                <div class="span8" id="content"/>
                                <!-- Right hand column: 4 wide -->
                                <div class="span4">
                                    <h2>Application Info</h2>
                                    <div class="config:app-info"/>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
                <aside class="span2" style="text-align:right;">
                    <div class="sectionTitle">contact</div>
                    <div class="entry">
                        <img src="resources/images/existsolutions.png" alt="http://existsolutions.com"/>
                        <div class="name">
                            <strong>Wolfgang Meier</strong>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/wolfgangm">@wolfgangm</a>
                        </div>
                    </div>
                    <div class="entry" style="padding-bootom">
                        <img src="resources/images/betterform.png" alt="http://betterform.de"/>
                        <div class="name">
                            <strong>Lars Windauer</strong>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/windauer">@windauer</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <footer class="row">
            <hr class="devider"/>
            <p>Some Copyright bfExSol 2013</p>
        </footer>
    </body>
</html>